<div id="wesmere-embed">

<div id="nav" role="banner">
<div class="centerbox">
	<div id="logo">
		<a href="https://www.wesnoth.org/" aria-label="Wesnoth logo"></a>
	</div>

	<ul id="navlinks" role="navigation">
		<li><a href="https://www.wesnoth.org/">Home</a></li>
		<li><a href="https://forums.wesnoth.org/viewforum.php?f=62">News</a></li>
		<li><a href="https://wiki.wesnoth.org/Play">Play</a></li>
		<li><a href="https://wiki.wesnoth.org/Create">Create</a></li>
		<li><a href="https://forums.wesnoth.org/">Forums</a></li>
		<li><a href="https://wiki.wesnoth.org/Project">About</a></li>
	</ul>

	<!-- IF S_DISPLAY_SEARCH -->
	<div id="sitesearch" role="search">
		<form method="get" action="{U_SEARCH}">
			<input id="searchbox" class="has-advanced-search" type="search" name="keywords" placeholder="{L_SEARCH}" title="Search these forums [Alt+Shift+f]" accesskey="f" />
			<span id="searchbox-controls">
				<button id="search-go" class="search-button" type="submit" title="Search">
					<i class="fa fa-fw fa-search search-icon" aria-hidden="true"></i>
					<span class="sr-label">Search</span>
				</button>
				<a id="search-opts" class="search-button" href="{U_SEARCH}" title="Advanced search">
					<i class="fa fa-fw fa-cog advsearch-icon" aria-hidden="true"></i>
					<span class="sr-label">Advanced search</span>
				</a>
			</span>
		</form>
	</div>
	<!-- ENDIF -->

	<div class="reset"></div>
</div>
</div>

</div>

<div id="content">
