<link rel="shortcut icon" href="http://www.wesnoth.org/favicon.ico" type="image/x-icon" />
<link href="//www.wesnoth.org/mw/skins/glamdrol/forum.css" rel="stylesheet" type="text/css" />

<!-- Mini-glamdrol -->
<style type="text/css">
	#wglobal {
		width: 100%;
		margin-top: 0;
		padding-top: 0;
		font: 0.88em sans-serif;
	}

	#wheader {
		margin: 0;
		padding: 0;
		background: #444 url('//www.wesnoth.org/mw/skins/glamdrol/headerbg.jpg') top repeat-x;
		border-bottom: 1px solid #000;
	}

	#wheader #wlogo {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	#wheader #wlogo img {
		margin: 0;
		padding: 0;
		border: none;
	}

	#wheader #wlogo a {
		margin: 0;
		padding: 0;
		color: #654;
		text-decoration: none;
		font-size: 0.8em;
	}

	#wnav {
		margin: 0;
		padding: 3px 4px 15px 4px;
		background: #272727 url('//www.wesnoth.org/mw/skins/glamdrol/navbg.png') repeat-x bottom;
		text-align: center;
		border-top: 1px solid #595959;
		font-size: 150%;
	}

	#wnav ul, #wnav li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	#wnav li {
		padding: 0 5px;
	}

	#wnav a {
		color: #B48648;
		font-family: "Trebuchet MS", sans-serif;
		font-weight: bold;
		text-decoration: none;
	}

	#wnav a:hover {
		color: #CCC;
	}

	/*
	 * phpBB overrides
	 */

	#page-header > .headerbar {
		display: none;
	}

	body {
		padding-top: 0;
	}

	.search-header {
		margin-top: 0;
		margin-right: 0;
		box-shadow: 0 0 2px #0075B0;
	}
</style>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1872754-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
