<div id="wglobal">
	<div id="wheader">
		<div id="wlogo" style="max-height:74px;">
			<a href="//www.wesnoth.org/"><img alt="Wesnoth logo" src="//www.wesnoth.org/mw/skins/glamdrol/wesnoth-logo.jpg" /></a>
		</div>
	</div>

	<div id="wnav">
		<ul style="line-height: 1.6em">
			<li><a href="//www.wesnoth.org/">Home</a></li>

			<li><a href="//wiki.wesnoth.org/Play">Play</a></li>
			<li><a href="//wiki.wesnoth.org/Create">Create</a></li>
			<li><a href="//forums.wesnoth.org/">Forums</a></li>
			<li><a href="//wiki.wesnoth.org/Support">Support</a></li>
			<li><a href="//wiki.wesnoth.org/Project">Project</a></li>
			<li><a href="//wiki.wesnoth.org/Credits">Credits</a></li>
			<li><a href="//wiki.wesnoth.org/UsefulLinks">Links</a></li>

		</ul>
	</div>
</div>
